
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
   margin: 0;
    padding: 0;
  font-family: 'Assistant', 'Open Sans', 'Roboto', sans-serif;
  background: url(./imagenes/textura-fondo.jpg) ;

}
h1,h2,h3{
   font-family: 'Special Elite', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow-x: hidden;
}

#banner {
  width: 100%;
  height: 90vh;
  position: relative;
  background: url("./imagenes/banner-it.jpg") center no-repeat;
  background-size: cover;
}

#banner img{
  position: absolute;
  width: 5%;
  height: auto;
  top: 10px;
  left: 10px;
}

.boton {
  position: absolute;
  padding: 10px 20px;
  bottom: 20%;       
  right: 15%;         
  border: 2px solid #ff0000;
  color: #ff0000;
  background: transparent;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 30px;
  transition: all 0.3s ease;
  animation: pulse 2s infinite;
  display: flex;
  justify-content: end;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255,0,0, 0.6);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255,0,0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255,0,0, 0);
  }
}

.boton:hover {
  color: black;
  background: red;
}

.polaroids {
   font-family: 'Special Elite', cursive;
   display: flex;
   flex-flow: row wrap;
   padding: 30px;
   gap: 20px;
   justify-content: center;
   align-content: center;
       padding-inline: 20px; 
      box-sizing: border-box;
      scroll-snap-type: x mandatory; 
   
}
.titulos h2{
    color: azure;
    text-align: center;
    margin-top: 60px;
    font-size: 40px;
}
.foto {
  position: relative;
  width: 300px;
  height: 350px;
}
.foto .frente,
.foto .dorso {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s;
}
.foto .frente {
     display: flex;
     flex-direction: column;
     background-color: #cad0cf;
     padding: 10px 10px 10px 10px;
     border-radius: 5px;
      margin: 10px;
      
      
}
.foto .frente img {
    display: block;
    border-radius: 2px;
    width: 100%;
    
}
.foto .frente h3{
  position: absolute;
  bottom: 20px;        
  left: 50%;
  transform: translateX(-50%); 
  margin: 0;
  color: #000;
  font-size: 1.2rem;
  text-align: center;
}
.foto .dorso{
  transform: rotateY(180deg);
  background: #cad0cf;
  padding: 15px;
  text-align: center;
  box-shadow: 0 5px 10px #000;
  text-align: center;
  display: flex;
  border-radius: 5px;
  width: auto;
  
}
.foto .dorso p{
  letter-spacing: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.foto:hover .frente{
    transform: rotateY(-180deg);
}

.foto:hover .dorso{
    transform: rotateY(0deg);
}
  
#nota-principal{
  width: 100%; 
  position: relative;
}

#puertasfondo{
  position: relative;
  width: 100%;
  max-width: 1200px; 
  margin: auto;
}

#puertasfondo .fondo {
  display: block;
  width: 100%;
  height: auto;
}

.fondo{
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

.puerta{
  position: absolute;
  display: block;
  transition: opacity 0.3s ease, transform 0.3s ease;
   animation: pulse-puerta 2.5s ease-in-out infinite; 
}

.puerta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

.puerta:hover img{
  transform: scale(1.05);
  opacity: 1;
}

.primer-puerta{
   top: 7%;   
   width: 25%; 
   
}


.segunda-puerta {
  top: 7%;
  left: 37%;
  width: 25%;
   
}

.tercer-puerta {
  top: 7%;
  left: 75%;
  width: 25%;
}

@keyframes pulse-puerta{
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);  
  }
}

.extra {
  display: none;
}

.extra:target {
  display: block;
}

.ver-menos {
  display: none;
}


.extra:target .ver-mas {
  display: none;
}
.extra:target .ver-menos {
  display: inline-block;
}
.ventana{
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.ventana:target {
  display: flex;
}

.ventana-contenido{
  display: flex;  
  flex-wrap: wrap;           
  align-items: center;  
  justify-content: center;       
  gap: 30px;    
  position: relative;
  z-index: 20;
  padding: 30px;
  width: 90%;
  max-width: 1000px;
  background: rgba(87, 15, 15, 0.95);
  border-radius: 10px;
   box-sizing: border-box;
}

.ventana-img {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 10px;
  object-fit: cover; 
  flex-shrink: 0; 
}

 .texto {
  flex: 1;  
  min-width: 250px;             
  max-height: 70vh;
  overflow-y: auto;                    
}

.texto h3{
  font-size: 2.5rem;
  color: #cad0cf;
}

.texto p{
  font-size: 1rem;
  line-height: 1.3;
  color: #cad0cf;
  margin: 0;
}

.cerrar{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index:30;
  color: #ec0707;
  text-decoration: none;
  font-size: 20px;
  padding: 6px 10px;
  background: rgba(255,255,255,0.06);
  border-radius: 6px;
}

#opiniones{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 40px;
}

.titulos {
  width: 100%;            
  text-align: center;     
  margin-bottom: 40px;
  margin-top: 50px;    
}

.titulos h2 {
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.titulos h3{
  color: #cad0cf;
  font-family: monospace;
  font-size: 0.9rem;
  margin-top: 8px;
}

.afiche {
  width: 280px;
  background: #f5f5f5;
  border: 2px solid #000;
  padding: 20px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.45);
  position: relative;
  transition: transform .28s ease, box-shadow .28s ease;
  transform: translateY(0) scale(1);
  animation: slideIn .6s ease forwards;
}


.foto-afiche {
  width: 100%;
  overflow: hidden;
  margin-bottom: 12px;
  border: 2px solid #000;
  background: #fff;
}

.foto-afiche img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  display: block;
  transition: transform .28s ease;
  filter: grayscale(80%) contrast(120%);
}

.afiche:hover,
.afiche:active {
  transform: translateY(-6px) scale(1.2); 
  z-index: 50;
  box-shadow: 0 20px 40px rgba(200,0,0,0.55); 
}

.afiche h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.7rem;
  letter-spacing: 3px;
  margin-bottom: 10px;
  color: #000;
  animation: flicker 2s infinite;
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
  }
  20%, 24%, 55% {
    opacity: 0;
  }
 }

.afiche h3 {
  font-weight: bold;
  margin: 10px 0;
}

.afiche h4{
margin-bottom: 10px;
}
.afiche p {
  font-size: 0.95rem;
  line-height: 1.4;
  background: #cad0cf;
  padding: 8px;
  border: 2px dashed #000;
}


.decofooter{
  position: relative;
  height: auto; 
  background: black;
  overflow: hidden;
  max-width: 1920px; 
  margin: 0 auto;   
}

.manos {
  width: 100%;
  height: auto;
  max-width: 1920px; 
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

@keyframes navegar {
  0% {
    transform: translateX(-100px) translateY(0);
  }
  50% {
    transform: translateX(100vw) translateY(-10px);
  }
  100% {
    transform: translateX(-100px) translateY(0);
  }
}

.decofooter .barquito {
  position: absolute;
  bottom: 20px; 
  left: -100px; 
  width: 200px;  
  animation: navegar 20s linear infinite;
}

.footer{
    background-color: black;
    padding: 20px;
    font-size: 15px;
    color: #ffffff; 
    margin: 0%; 
    padding: 0 20px;
}

.footercontenedor{
    width: 100%;
    margin: 0;
    padding: 0 20px;
}

.filas{
 display: flex;
  justify-content: space-between;
  align-items: center;
}

.redes{
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  gap: 15px; 
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
  
}

.redes img{
    width: 50px;
    height: 50px;
    animation: pulse 1s infinite;
    border-radius: 610px;
}
  


@media (max-width: 1024px) {
  #banner {
    height: 80vh;
    background: url("./imagenes/banner-it-tablet.jpg") center no-repeat;
    background-size: cover;
  }

  #banner img {
    width: 100px;
    top: 20px;
    left: 20px;
  }

  .boton {
    bottom: 15%;    
    right: 50%;     
    transform: translateX(50%);
    padding: 10px 20px;
    font-size: 16px;
  }

   #puertasfondo {
    display: block; 
  }

 .ver-mas,
  .ver-menos {
    display: none;   
  }

}


@media (max-width: 768px) {
  #banner {
    height: 70vh;
    background: url("./imagenes/banner-celular.jpg") center no-repeat;
    background-size: cover;
  }

  #banner img {
    width: 30px;  
    top: 15px;
    left: 15px;
  }

  .boton {
    bottom: -12%;       
    left: 50%;          
    right: auto;        
    transform: translateX(-50%); 
    
  }

   .polaroids {
    flex-wrap: nowrap;         
    overflow-x: auto;          
    overflow-y: hidden;         
    -webkit-overflow-scrolling: touch; 
    gap: 40px;   
    justify-content: flex-start;  
                 
    
  }

  .foto {
    flex: 0 0 auto;             
    width: 250px;              
    height: 300px;
      scroll-snap-align: center; 
    perspective: 1000px; 
  }

  .foto .frente,
  .foto .dorso {
    backface-visibility: hidden;
    transform-style: preserve-3d; 
  }

   #puertasfondo {
    display: none; 
  }
   .ventana {
    display: flex;  
    justify-content: center; 
    align-items: center;    
    position: relative;   
    background: transparent;
       padding: 10px;
    margin-bottom: 15px;
    overflow-y: hidden;
    
  }

  .ventana-contenido {
    flex-direction: column;
    text-align: center;
    width: 95%;
     margin: 0 auto;
    max-width: 500px;
    height: auto;
    max-width: none;
    background: rgba(87, 15, 15, 0.95);
    border-radius: 8px;
    padding: 10px;
    gap: 10px;
  }

  .cerrar {
    display: none; 
  }

  .extra:target {
    display: block;
  }

  .ver-mas, .ver-menos {
    display: block;
    color: #ec0707;
    font-weight: bold;
    text-decoration: underline;
  }

  .titulos{
    font-size: 1.5rem; 
  }

   .texto {
    margin-top: 0;
    font-size: 0.9rem;
    line-height: 1.4;
  }
  
  .texto h3{
    font-size: 1.5rem;
    margin: 0%;
  }

 .texto p { 
  font-size: 0.9rem; 
  text-align: left;
 }
 
 .intro {
    margin-bottom: 10px;
  }

  .extra {
    display: none;
    margin-top: 5px;
  }

  
  .extra:target {
    display: block;
  }

  .extra:target .ver-menos {
  display: inline-block;
}

 .extra:target ~ .ver-mas {
  display: none;
 }
  
  .ver-mas {
    display: block;
    color: #ec0707;
    font-weight: bold;
    margin: 8px 0;
    text-align: center;
    } 

  #opiniones{
     display: flex;
    flex-wrap: nowrap;   
    overflow-x: auto;    
    overflow-y: visible;
    gap: 35px;           
  margin-bottom: 20px;
     padding-left: 20px;
     padding-right: 20px;  
    scroll-snap-type: x mandatory;
    justify-content:flex-start;
  }

  .titulos h2 {
    font-size: 1.5rem;   
    text-align: center;
    color: #fff;
    margin-top: 20%;
  }

  .titulos h3{
    font-family: monospace;
  }

  .titulo-puerta{
   display: none;
  }

  .afiche {
    position: relative;
   flex: 0 0 80%;        
   max-width: 220px;
   min-width: 160px;
   height: auto;
   padding: 10px;
   font-size: 1rem;
   transition: transform 0.3s ease;
   
  }

   #afiche:hover {
   transform: scale(1.1); 
   z-index: 10;             
   }
  .afiche h2 {
    font-size: 1.9rem;   
    margin-bottom: 8px;
  }

  .afiche h3 {
    font-size: 1rem;
    margin: 5px 0;
  }

  .afiche p {
    font-size: 0.85rem;  
    line-height: 1rem;
    padding: 4px;
  }

  .foto-afiche img {
    width: 100%;
    height: auto;
    object-fit: cover;   
  }

 .decofooter .barquito{
  width: 15%;
 }

}

@media (min-width: 769px) {
  .extra {
    display: block;  
  }

  .ver-mas, 
  .ver-menos {
    display: none; 
  }
}